<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @traumatized_child.name %>
</p>

<%= link_to 'Edit', edit_traumatized_child_path(@traumatized_child) %> |
<%= link_to 'Back', traumatized_children_path %>
