<h1>Editing Hollywoodesque Neurose</h1>

<%= render 'form', hollywoodesque_neurose: @hollywoodesque_neurose %>

<%= link_to 'Show', @hollywoodesque_neurose %> |
<%= link_to 'Back', hollywoodesque_neuroses_path %>
