<h1>Editing Horrifyingly Large Insect</h1>

<%= render 'form', horrifyingly_large_insect: @horrifyingly_large_insect %>

<%= link_to 'Show', @horrifyingly_large_insect %> |
<%= link_to 'Back', horrifyingly_large_insects_path %>
